<div class="feed-stats">
  <%= data.countDays %> days, <%= data.countWorkouts %> workouts
</div>
<% Object.keys(data.days).forEach((dayId) => { const day = data.days[dayId] %>
  <h2 class="feed-title"><%= day.name %> </h2>
  <div class="feed-card">
    <% day.logs.forEach((log, index) => { %>
      <div class="feed-card-line <%= index % 2 !== 0 ? 'feed-card-line--odd' : '' %>">
        <div class="feed-card-line-icon">
          <svg class="svg-icon"><use href="#svg-<%= data.workouts[log.workout].icon %>"></use></svg>
        </div>
        <button class="feed-card-toggle" data-js-feed-toggle="<%= dayId %>-<%= index %>">
          <svg class="svg-icon"><use href="#svg-keyboard_arrow_down"></use></svg>
        </button>
        <h3 class="feed-card-title"><%= data.workouts[log.workout].name %></h3>
        <p class="feed-card-text">
          <%= data.fields[data.workouts[log.workout].highlight].name %>:
          <%= log.fields[data.workouts[log.workout].highlight] %><%= data.fields[data.workouts[log.workout].highlight].unit %>
          (<%= log.time %>@<%= log.fields.place %>)
        </p>
        <table class="feed-card-data" cellpadding="0" cellspacing="0" data-js-feed-data="<%= dayId %>-<%= index %>">
          <% data.workouts[log.workout].fields.forEach((field) => { if (field === 'datetime') return %>
            <tr class="feed-card-data-line">
              <td class="feed-card-data-cell">
                <svg class="svg-icon"><use href="#svg-<%= data.fields[field].icon %>"></use></svg>
              </td>
              <td class="feed-card-data-cell"><%= data.fields[field].name %></td>
              <td class="feed-card-data-cell">
                <%= log.fields[field] %><%= data.fields[field].unit %>
              </td>
            </tr>
          <% }) %>
        </table>
      </div>
    <% }) %>
  </div>
<% }) %>
