<html>
  <head>
    <title><%= appTitleFull %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
    <link rel="stylesheet" href="<%= assets.styles %>">
  </head>
  <body>
    <div style="display: none">
      <%- icons %>
    </div>
    <div class="navbar">
      <div class="navbar-left">
        <button class="navbar-menu">
          <svg class="svg-icon"><use href="#svg-menu"></use></svg>
        </button>
        <h1 class="navbar-title">
          <%= appTitle %>
          <svg class="svg-icon"><use href="#svg-play_arrow"></use></svg>
          <span class="navbar-title-current">
            <span data-js-feed-filter-name>
              loading
            </span>
            <select class="navbar-filter" data-js-feed-filter>
              <option disabled>loading</option>
            </select>
          </span>
        </h1>
      </div>
      <div class="navbar-right">
        <button class="navbar-menu navbar-menu--inactive navbar-menu--loading" data-js-loader>
          <svg class="svg-icon"><use href="#svg-autorenew"></use></svg>
        </button>
      </div>
    </div>
    <span class="floatingbutton">
      <svg class="svg-icon"><use href="#svg-add"></use></svg>
      <select class="floatingbutton-actions" data-js-add-menu>
        <option disabled>loading</option>
      </select>
    </span>
    <div class="toast" data-js-toast>
      I am a toast
    </div>
    <div class="feed" data-js-feed></div>
    <div class="footer">
      <%= appTitleFull %>
    </div>
    <script src="<%= assets.index %>"></script>
    <script>Scripts.index.init()</script>
  </body>
</html>
